<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/util 
                        http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">



	<!-- enable annotation -->
	<context:annotation-config />


	<!-- scan subpackages -->
	<context:component-scan
		base-package="springmvcsearchApplication" />

	<!-- step3 - configure view resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">
		<property name="prefix" value="/WEB-INF/views/" /> <!-- prefix = aap ka jo page hoga kis folder me hoga -->
		<property name="suffix" value=".jsp" />  <!-- suffix = ending of page -->
	</bean>

	<!-- Access static resource -->
	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"></mvc:resources>



</beans>
